@page "/"

<h1 style="color: #ffffff">Howdy! Welcome to my site.</h1>

<label style="color: #ffffff">
My name is Brady,
</label>
<label style="color: #ffffff">
In my spare time I enjoy working with game development, machine learning and recently web development. 
When it comes to programming, I feel the best way to learn is trying to recreate an idea with code.
Solving many problems that you are interested in helps you stay motivated when all else seems to fail. 
I believe coding is a great skill to have and I enjoy helping others in learning as well. 
Outside of programming I spend my time either studying or participating in student organizations. 
I am involved in the Aggie Coding Club, where I am a project manager for AggiEngine. 
I am also involved in AggieSat Lab as a part of the Command and Data Handling sub-team for AggieSat 6.
</label>
