@page "/resume"

<h3>Resume</h3>

<object data="JamesLangdaleResume2020.pdf" type="application/pdf" style="width: 100%; height: 100vh; bottom: 0; box-shadow: 0 0 10px black;">
    <p>
        Your web browser doesn't have a PDF plugin.
        Instead you can <a href="JamesLangdaleResume2020.pdf">click here to download the PDF file.</a>
    </p>
</object>

