@page "/slopes"
@inject IJSRuntime JSRuntime

<div id="unityContainer" style="margin-left: auto; margin-right: auto;"></div>

@code
 {
    public object unityInstance = 0;

    public void Start()
    {
        try
        {
            unityInstance = JSRuntime.InvokeAsync<object>("UnityLoader.instantiate", "unityContainer", "Games/Build/Slopes.json");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.StackTrace);
        }

    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender) Start();
    }
}