@page "/slopes"
@inject IJSRuntime JSRuntime

<a href="https://play.google.com/store/apps/details?id=dev.BradyLangdale.Slopes" target="_blank" class="ml-md-auto" style="font-size: medium">Avaliable on Google Play!</a>
<p>

</p>

<div id="unityContainer" style="margin-left: auto; margin-right: auto; box-shadow: 0 0 10px black;"></div>

@code
 {
    public object unityInstance = 0;

    public void Start()
    {
        try
        {
            unityInstance = JSRuntime.InvokeAsync<object>("UnityLoader.instantiate", "unityContainer", "Games/Build/Slopes.json");
        }
        catch (Exception e)
        {
            Console.WriteLine(e.StackTrace);
        }

    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender) Start();
    }
}