@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row">
        <a href="https://github.com/bradylangdale/bradylangdale.github.io" target="_blank" class="ml-md-auto">Source</a>
    </div>
    <div class="content px-4">
        @Body
    </div>
</div>
